<!-- Backend Login -->
<section class="section backend-login" id="backend-login">
	<div class="container">
		<h2>Backend Login</h2>
		<p>
			The <strong>backend</strong> of TYPO3 CMS is the administration interface, which allows you to build and maintain your website. The access credentials provided give you full administrator access to the system.
		</p>
		<div class="alert alert-warning text-center" role="alert">
			Before you continue, make sure you retrieved the
			<a class="js-scroll-trigger" href="#access-details">access details</a> (admin user and password) as described!
		</div>
		<p>
			In order to access the backend of TYPO3 CMS, simply append <code>/typo3</code> at the end of the URL.
			Currently, the backend login is available at: <a href="/typo3" target="_top">http://{hostname}/typo3</a>.
		</p>
	</div>
</section>
