<!-- Documentation -->
<section class="section documentation" id="documentation">
	<div class="container">
		<h2>Documentation</h2>
		<p>
			We know how important good documentation is! The <strong>TYPO3-on-AWS</strong> machine image is made of several components:
			a modern and robust Debian GNU/Linux operating system with an Apache web server, MySQL/MariaDB database engine, PHP and some other software packages.
			On top of that we are running the enterprise content management system TYPO3 CMS and all this is powered by an awesome cloud technology at Amazon Web Services (AWS).
		</p>
		<p>
			In some cases you want to customize the initial setup, for example install Nginx instead of the Apache web server.
			The links below point you to the documentation which provides details on how to customize, maintain, and manage the TYPO3-on-AWS instance.
		</p>
		<div class="row mt-4">
			<div class="col-lg-4 offset-lg-2 mb-2">
				<div class="card h-100">
					<div class="card-body text-center">
						<f:image src="EXT:aws_getting_started/Resources/Public/Images/t3rrific.png" alt="t3rrific.com" width="80" height="80" class="logo" />
					</div>
					<div class="card-footer text-center">
						<a href="https://t3rrific.com/typo3-on-aws/docs/" target="_blank" alt="TYPO3-on-AWS Documentation">TYPO3-on-AWS (t3rrific.com)</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-2">
				<div class="card h-100">
					<div class="card-body">
						<p class="card-text text-center">
							<i class="fab fa-typo3 fa-4x"></i>
						</p>
					</div>
					<div class="card-footer text-center">
						<a href="https://typo3.org/help/documentation/" target="_blank" alt="TYPO3 CMS Documentation Center">TYPO3 Documentation</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 offset-lg-2 mb-2">
				<div class="card h-100">
					<div class="card-body">
						<p class="card-text text-center">
							<i class="fab fa-aws fa-4x"></i>
						</p>
					</div>
					<div class="card-footer text-center">
						<a href="https://docs.aws.amazon.com/" target="_blank" alt="AWS Documentation">Amazon Web Services</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-2">
				<div class="card h-100">
					<div class="card-body">
						<p class="card-text text-center">
							<i class="fab fa-linux fa-4x"></i>
						</p>
					</div>
					<div class="card-footer text-center">
						<a href="https://debian-handbook.info/" target="_blank" alt="Debian Administrator's Handbook">Debian GNU/Linux</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
