<nav class="navbar navbar-typo3 navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <f:image src="EXT:aws_getting_started/Resources/Public/Images/typo3logo.png" class="typo3logo" width="32" width="32" />
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" role="tablist">
                <li role="presentation" class="active">
                    <a href="#getting-started" aria-controls="getting-started" role="tab" data-toggle="tab">Getting Started</a>
                </li>
                <li role="presentation" class="">
                    <a href="#access-details" aria-controls="access-details" role="tab" data-toggle="tab">Access Details</a>
                </li>
                <li role="presentation" class="">
                    <a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab">Documentation</a>
                </li>
            </ul>
            <a href="#backend-login" class="btn btn-typo3-backend pull-right" aria-controls="backend-login" role="tab" data-toggle="tab">Backend Login</a>
        </div>
    </div>
</nav>
