<!-- Masthead -->
<header class="masthead">
	<div class="container d-flex flex-column">
		<!-- Masthead Heading -->
		<h1 class="text-center mb-5">TYPO3-on-AWS</h1>
		<!-- Masthead Subheading -->
		<h2 class="">
			Congratulations!
			<i class="fas fa-thumbs-up"></i>
		</h2>
		<p>
			You just launched an Amazon Web Services (AWS) <strong>EC2 instance</strong> with <strong>Debian GNU/Linux</strong> and <strong>TYPO3</strong> pre-installed.
			Please be advised, that costs may occur as long as the instance is up and running
			<a class="btn btn-typo3 btn-sm" href="https://aws.amazon.com/ec2/pricing/" target="_blank" role="button">read more</a>
		</p>
		<p>
			Now, the next thing you should do: get the <a class="js-scroll-trigger" href="#access-details">access details</a> (which are required to login to the backend of TYPO3).
		</p>
		<div class="row mt-4">
			<div class="col-md mb-2">
				<div class="card">
					<div class="card-header">
						<strong>Project Website</strong>
					</div>
					<div class="card-body">
						<p class="card-text">
							Learn more about typical use cases, how to update TYPO3 and how you can customise the instance. Do you have any questions, need support or do you want to get involved?
						</p>
					</div>
					<div class="card-footer">
						<a class="btn btn-typo3" href="https://typo3-on-aws.org/" target="_blank" alt="Project website: TYPO3 CMS on a Debian Linux Amazon EC2 Instance">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md mb-2">
				<div class="card">
					<div class="card-header">
						<strong>Release Notes</strong>
					</div>
					<div class="card-body">
						<p class="card-text">
							Check out the latest news related to this instance and review the release notes of TYPO3 CMS.
							This is all the technical stuff, latest changes, new versions, features and improvements.
						</p>
					</div>
					<div class="card-footer">
						<a class="btn btn-typo3" href="https://get.typo3.org/version/10" target="_blank" alt="TYPO3 Release Notes">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md mb-2">
				<div class="card">
					<div class="card-header">
						<strong>Free Online Chat</strong>
					</div>
					<div class="card-body">
						<p class="card-text">
							Get free support from the TYPO3 community at <a href="https://typo3.slack.com/" target="_blank" alt="TYPO3 Slack">Slack</a>
							(TYPO3 account required). Join the channel:<br />
							<code class="pl-0">#typo3-on-aws</code>
						</p>
					</div>
					<div class="card-footer">
						<a class="btn btn-typo3" href="https://typo3.slack.com/" target="_blank" alt="TYPO3 Slack">Read more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
