<f:layout name="Default" />
<f:section name="Content">
	<div class="container content">
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="getting-started">
				<h1>
					Congratulations
					<span class="glyphicon glyphicon-thumbs-up glyphicon-margin-left hidden-xs"></span>
				</h1>
				<p>
					You just launched an Amazon Web Services (AWS) EC2 instance with Debian GNU/Linux and TYPO3 CMS pre-installed. Please be advised, that costs may occur as long as the AWS instance is up and running <a href="https://aws.amazon.com/ec2/pricing/" target="_blank" class="btn btn-typo3-readmore btn-xs button-margin-left" role="button">read more</a>
				</p>
				<p>
					Now, the next thing you should do: get the <a href="#access-details" class="show-tab">Access Details</a> (which are required to login to the backend of TYPO3).
				</p>
				<div class="row margin-top">
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">
									Project Website
									<a href="#collapseProjectWebsite" class="btn btn-typo3-readmore btn-xs pull-right" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseProjectWebsite">read more</a>
								</h2>
							</div>
							<div class="panel-body">
								<p class="panel-subheader">Visit our website to find out more.</p>
								<div class="collapse" id="collapseProjectWebsite">
									<p>
										Learn more about typical use cases, how to update TYPO3 and how you can customise the instance. Do you have any questions, need support or do you want to get involved?
									</p>
									<p>
										Go to: <a href="https://typo3-on-aws.org/" target="_blank" alt="Project website: TYPO3 CMS on a Debian Linux Amazon EC2 Instance">https://typo3-on-aws.org</a>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">
									Release Notes
									<a href="#collapseReleaseNotes" class="btn btn-typo3-readmore btn-xs pull-right" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseReleaseNotes">read more</a>
								</h2>
							</div>
							<div class="panel-body">
								<p class="panel-subheader">All about the technical details.</p>
								<div class="collapse" id="collapseReleaseNotes">
									<p>
										Check out the latest news related to this instance and review the release notes of TYPO3 CMS. This is all the technical stuff, latest changes, new versions, features and improvements.
									</p>
									<p>
										Open the <a href="https://typo3-on-aws.org/marketplace/release-notes.html#v8" target="_blank" alt="Release Notes">Release Notes</a>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">
									Free Online Chat
									<a href="#collapseSlack" class="btn btn-typo3-readmore btn-xs pull-right" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseSlack">read more</a>
								</h2>
							</div>
							<div class="panel-body">
								<p class="panel-subheader">Get support from the community.</p>
								<div class="collapse" id="collapseSlack">
									<p>
										<a href="https://forger.typo3.org/slack" target="_blank" alt="TYPO3 Slack Registration">Register</a> a free account, login at <a href="https://typo3.slack.com/" target="_blank" alt="TYPO3 Slack">Slack</a> and start chatting with other TYPO3 and &quot;TYPO3-on-AWS&quot; users. Ask questions, share your experience and help others if you can.
									</p>
									<p>
										<i class="fa fa-slack fa-2x pull-left slack-logo" aria-hidden="true"></i>
										Join the Slack channel:<br />
										<strong>#typo3-on-aws</strong>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="access-details">
				<h1>Access Details</h1>
				<p>
					Random passwords and other access details are automatically generated when you launch the EC2 instance the first time. They are stored in a text file <code>/home/admin/.accessdetails</code> on the server.
				</p>
				<p>
					To retrieve these credentials, login to the server via SSH (username: <strong>admin</strong>) and use the private SSH key you set up during the EC2 instance launch. If you are using the command line, this could be as easy as executing the following command (where <code>private.key</code> is your private key file):
				</p>
				<pre>ssh -i private.key admin@{hostname}</pre>
				<p>
					All access details required for TYPO3 CMS, the MySQL database server, etc. will be displayed. If you have any problems retrieving the access details, please refer to the <a href="#documentation" class="show-tab">documentation</a>.
				</p>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="documentation">
				<h1>Documentation</h1>
				<p>
					We know how important good documentation is! The <strong>TYPO3-on-AWS</strong> machine image is made of several components: a modern and robust Debian GNU/Linux operating system with an Apache web server, MySQL database server, PHP and some other software packages. On top of that we are running the enterprise content management system TYPO3 CMS and all this is powered by an awesome cloud technology at Amazon Web Services (AWS).
				</p>
				<p>
					Every component has its own documentation and the links below should point you to the right direction - you possibly want to bookmark them&nbsp;&#9786;
				</p>
				<div class="row margin-top">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">
									The TYPO3-on-AWS Project
								</h2>
							</div>
							<div class="panel-body">
								<div class="">
									<p>
										The official TYPO3-on-AWS <a href="https://typo3-on-aws.org/" target="_blank" alt="Project website: TYPO3 CMS on a Debian Linux Amazon EC2 Instance">project website</a> is a perfect starting point in general. You will not only find basic information about how and where to start, but also security-related details and some useful step-by-step tutorials about typical tasks and actions how to get the most of your TYPO3-on-AWS server.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">
									TYPO3 CMS
									<a href="#collapseDocumentationTypo3" class="btn btn-typo3-readmore btn-xs pull-right" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseDocumentationTypo3">read more</a>
								</h2>
							</div>
							<div class="panel-body collapse" id="collapseDocumentationTypo3">
								<div class="smaller">
									<p>
										Are you new to TYPO3 CMS? To come to grips with this powerful system the official documentation and tutorials are essential. You will also find videos, books, articles and a huge Wiki in the <a href="https://typo3.org/documentation/" target="_blank" alt="TYPO3 CMS Documentation Center">Documentation Center</a>. Get ready to become an expert!
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">
									AWS Documentation
									<a href="#collapseDocumentationAws" class="btn btn-typo3-readmore btn-xs pull-right" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseDocumentationAws">read more</a>
								</h2>
							</div>
							<div class="panel-body collapse" id="collapseDocumentationAws">
								<div class="smaller">
									<p>
										Whether you are new to AWS or an advanced user, you can find useful information about the services AWS offers ranging from introductions to advanced features. In regards to the TYPO3-on-AWS machine image, we recommend the documentation about EC2, S3, Route&nbsp;53 and maybe Elastic Load Balancing and Cloud Front, see the <a href="http://aws.amazon.com/documentation/" target="_blank" alt="AWS Documentation">AWS Documentation</a>.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">
									Debian Linux
									<a href="#collapseDocumentationDebian" class="btn btn-typo3-readmore btn-xs pull-right" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseDocumentationDebian">read more</a>
								</h2>
							</div>
							<div class="panel-body collapse" id="collapseDocumentationDebian">
								<div class="smaller">
									<p>
										Based on the free operating system Debian GNU/Linux, the TYPO3-on-AWS server uses open source software only. You find a lot of resources at the official <a href="https://www.debian.org" target="_blank" alt="Debian GNU/Linux">Debian Website</a> and if it comes down to mastering a Debian server, the <a href="http://debian-handbook.info" target="_blank" alt="Debian Administrator's Handbook">Debian Administrator's Handbook</a> covers all the topics required.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="backend-login">
				<h1>Backend Login</h1>
				<p>
					The <i>Backend</i> of TYPO3 CMS is the administration interface, which allows you to build and maintain your website. The access credentials provided give you full administrator access to the system.
				</p>
				<div class="alert alert-warning" role="alert">
					Before you continue, make sure you retrieved the <a href="#access-details" class="show-tab">Access Details</a> (admin user and password) as described!
				</div>
				<p>
					In order to access the backend of TYPO3 CMS, simply append &quot;/typo3&quot; at the end of the URL. Currently, the backend login screen is available at: <a href="/typo3" target="_top">http://{hostname}/typo3</a>
				</p>
				<p>
					A quick note before we leave you exploring your new system:
					you possibly want to get rid off this &quot;Getting Started&quot; screen and get an empty and clean TYPO3 CMS instance.
					Nothing easier than that - just follow the <a href="https://typo3-on-aws.org/docs/" target="_blank" alt="TYPO3 CMS on AWS Documentation">documentation</a>.
				</p>
			</div>
		</div>
	</div>
</f:section>
